* {
    box-sizing: border-box;
    margin: 0;
}

body , html {
    box-sizing: border-box;

}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #678197;
    gap: 20px;
}


header {
    font-family: 'Courier New', Courier, monospace;
}



.container {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    border: 1px solid black;
    
}

.box {
    border: 2px solid black;
    height: 9.375rem;
    width: 9.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-weight: bolder;
}
